{
	"clientLibPath": "{{clientLibPath}}",
	"autoGenerate" : {
		"js" 	 : true,
		"styles" : true
	},
	"useGlobalComponents" : true,
	"components" : [
    {{#each components}}
        "{{this}}",
    {{/each}}
    ]
}
